#frame {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  text-align: center;
}

.headerFontDiv{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 550;
  color: #000;
  margin-bottom: 10px;
}

.inputDiv{
  margin-bottom: 20px;
}

.describeDiv{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #555;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

button.addButton{
  background-color: #4caf50;
}

button.deleteButton {
  background-color: #fe424e;
}

button.clearButton {
  background-color: #d36910;
}

button.clearButton {

}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

tr {  border-bottom: 1px solid #ddd;
}

td, th {
  border: 1px solid #ddd;
  padding: 10px;
}

button.addButton:hover {
  background-color: #45a049;
}

button.deleteButton:hover {
  background-color: #e01e25;
}

button.clearButton:hover {
  background-color: #bb5b0f;
}
